# Load prediction of CT1 based on Ambient Conditions
### by analysis of ambient condition, deduce the ideal load of the machine using previous data
5 year data  
convert into single df  
part data into 80:20 ratio (80% training data and 20% test data)

In [2]:
import numpy as np
import pandas as pd

In [16]:
from pandas import ExcelWriter
from pandas import ExcelFile
df = pd.read_excel('7-Plant Daily Statistics July 20.xlsx',
                   skiprows = range(0,3), 
                   header=2,
                   sheet_name='July')
df

,2020-07-01 00:00:00,96.08,53.13,3435,3367,2808,2795,90,948,916,...,1000.9600186039455,24603.328999999998,8802.622182468695,0.1,20198,Unnamed: 22,Unnamed: 23,Unnamed: 24,Unnamed: 25,Unnamed: 26
0,2020-07-02 00:00:00,99.46,55.79,3399.0,3263.0,3102.0,2969.0,94.0,924.0,897.0,...,1007.959891,26827.169,9035.759178,138.0,20336.0,NaN,NaN,NaN,NaN,NaN
1,2020-07-03 00:00:00,101.3,52.04,3385.0,3181.0,3333.0,3110.0,95.0,924.0,898.0,...,1019.335729,28398.830,9131.456592,168.0,20504.0,NaN,NaN,NaN,NaN,NaN
2,2020-07-04 00:00:00,96.46,53.17,3427.0,3241.0,2915.0,2764.0,87.0,743.0,911.0,...,1013.386587,25236.126,9130.291606,95.0,20599.0,NaN,NaN,NaN,NaN,NaN
3,2020-07-05 00:00:00,90.4,60.60,3492.0,3001.0,2410.0,1942.0,80.0,420.0,895.0,...,1011.742838,18405.479,9477.589598,210.0,20809.0,NaN,NaN,NaN,NaN,NaN
4,2020-07-06 00:00:00,94.33,58.80,3455.0,3373.0,2891.0,2872.0,83.0,947.0,907.0,...,1011.548504,25475.580,8870.327298,19.0,20828.0,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
73,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
74,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
75,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
76,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
77,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [12]:
df

,Plant Daily Statistics,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22,Unnamed: 23,Unnamed: 24,Unnamed: 25,Unnamed: 26
0,2020-07-01 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Date,Site Avg. Ambient Temp.F,RH,Corrected Plant Capacity,Ambient Corrected Declared Avail'y (MWH),Plant WAPDA Dispatch (MWH),Net Plant Export (MWH),Complex Aux Load including Colony Load MWH,CT1 Gross Generation (MWH),CT-2 Gross Generation (MWH),...,HBtu gas (Average Btu/scf),HBtu mmBtu,HHV Net Heat Rate (Btu/Kwh),Daily LD's\n(MWhr),Accum*\nLD's\n(MWhr),NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,%age,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2020-07-01 00:00:00,96.08,53.13,3435,3367,2808,2795,90,948,916,...,1000.96,24603.3,8802.62,0,20198,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
78,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
79,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
80,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
81,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
82,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN