# Pandas

In [1]:
import pandas as pd

In [15]:
x=pd.Series([10000,20000,50000,"30000"],index=['sajjad','qadir','zohaib','ubaid'])
x

sajjad    10000
qadir     20000
zohaib    50000
ubaid     30000
dtype: object

In [3]:
'sajjad' in x

True

In [4]:
"Sajjad" in x

False

In [8]:
x[0:-1]

sajjad    10000
qadir     20000
zohaib    50000
dtype: int64

In [12]:
x['sajjad':"ubaid"]

sajjad    10000
qadir     20000
zohaib    50000
ubaid     30000
dtype: int64

In [13]:
10000 in x

False

In [16]:
"30000" in x

False

In [24]:
sal=pd.Series([10000,20000,50000,30000],index=['sajjad','qadir','zohaib','ubaid'])
ht=pd.Series([5.8,5.7,5.9,5.6],index=['sajjad','Qadir','zohaib','ubaid'])
print(sal)
print(ht)

sajjad    10000
qadir     20000
zohaib    50000
ubaid     30000
dtype: int64
sajjad    5.8
Qadir     5.7
zohaib    5.9
ubaid     5.6
dtype: float64

In [20]:
x=pd.DataFrame(sal,ht)

In [21]:
x

      0
5.8 NaN
5.7 NaN
5.9 NaN
5.6 NaN

In [25]:
x=pd.DataFrame({"salary":sal,"height":ht})
x

         salary  height
Qadir       NaN     5.7
qadir   20000.0     NaN
sajjad  10000.0     5.8
ubaid   30000.0     5.6
zohaib  50000.0     5.9

In [26]:
ind=['sajjad','qadir','zohaib','ubaid']
sal=pd.Series([10000,20000,50000,30000],index=ind)
ht=pd.Series([5.8,5.7,5.9,5.6],index=ind)
print(sal)
print(ht)

sajjad    10000
qadir     20000
zohaib    50000
ubaid     30000
dtype: int64
sajjad    5.8
qadir     5.7
zohaib    5.9
ubaid     5.6
dtype: float64

In [27]:
x=pd.DataFrame({"salary":sal,"height":ht})
x

        salary  height
sajjad   10000     5.8
qadir    20000     5.7
zohaib   50000     5.9
ubaid    30000     5.6

In [30]:
sal[['zohaib','qadir']]

zohaib    50000
qadir     20000
dtype: int64

In [32]:
sal[['zohaib'],['qadir']]

ValueError: Can only tuple-index with a MultiIndex